{% extends 'base.html.twig' %}

{% block title %}Create Secret{% endblock %}

{% block body %}
    {% if form is defined %}
        {{ form(form) }}
    {% endif %}


    {% if messageId is defined %}
        Your link:
        <a href="{{ app.request.getSchemeAndHttpHost() }}/secret/{{ messageId }}">
            {{ app.request.getSchemeAndHttpHost() }}/secret/{{ messageId }}
        </a>
    {% endif %}
{% endblock %}
