{% extends 'base.html.twig' %}

{% block title %}Secret{% endblock %}

{% block body %}
    {% if form is defined %}
        {{ form(form) }}
    {% endif %}

    {% if text is defined %}
        <b>Secret:</b> {{ text }}
    {% endif %}

    {% if invalidPassword is defined %}
        The passphrase is invalid :(
    {% endif %}

{% endblock %}
